<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<title>Home</title>
<!-- CSS -->
</head>

<body>
  <style>
    #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 75px;
      padding: 16px;
      bottom: 8px;
    }
  
  </style>

  <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">

      <a class="navbar-brand mr-4" href="/">Fight Corona</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/corona">Corona</a>
        </div>
        <!-- Navbar Right Side -->
      </div>
    </div>
  </nav>
</header>

  <div class= "container">

    <h4>Brief Overview </h4>
    <p>Welcome to the home page of the app.</p>
    <p>This project describes my own personal contribution in the fight of human race against the Corona Virus. Having being originated from a small city in China named 'Wuhan' it has now spread to almost 130 countries, and is on the verge of posing the threat on the existence of human race as a whole.
    <hr>
    <h5>Aftermath of its spread :</h5>
    Nearly 220,000 people have now been confirmed with the coronavirus globally, of which at least 84,000 have recovered from COVID-19, while more than 8,800 have died, according to data from Johns Hopkins University in the US.
        <p>The death toll from an outbreak of coronavirus in Italy rose in the last 24 hours by 427 to 3,405, overtaking the total number of deaths so far registered in China, officials said on Thursday. Also cases in India has risen to 350 with 5 death. The most affected state in the country is Maharashtra which alone has registered almost 60+ cases</p>
        <hr>
    <h5>Applications of the App :</h5>
    <p>One could use their heart's cat scan image and upload it to the app. Which further feed it to an artificial interlligence model, makes predictions about whether the person is infected with the virus or not.</p>
    <hr>
    <p><b>Developer's Details</b></p>
      <p>Name: Shobhit Srivastava and Eish Kumar<br></p>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
     <footer id="main-footer">
      Copyright &copy; 2020
    </footer>
</body>
</html>
